<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SecureBankSystem</display-name>
  <servlet>
    <servlet-name>
      LoginServlet
    </servlet-name>
    <servlet-class>
     sbs.servlets.LoginServlet
   </servlet-class>
   <init-param>
    <param-name>parm1</param-name>
    <param-value>parm1</param-value>
  </init-param>
  <load-on-startup>
    -100
  </load-on-startup>
</servlet>
<servlet>
  <servlet-name>
    LogoutServlet
  </servlet-name>
  <servlet-class>
   sbs.servlets.LogoutServlet
 </servlet-class>
 <init-param>
  <param-name>parm1</param-name>
  <param-value>parm1</param-value>
</init-param>
<load-on-startup>
  -100
</load-on-startup>
</servlet>
<servlet>
  <servlet-name>
    TestServlet
  </servlet-name>
  <servlet-class>
   sbs.servlets.TestServlet
 </servlet-class>
 <init-param>
  <param-name>parm1</param-name>
  <param-value>parm1</param-value>
</init-param>
<load-on-startup>
  -100
</load-on-startup>
</servlet>

<servlet-mapping>
  <servlet-name>
    TestServlet
  </servlet-name>
  <url-pattern>
    /TestServlet
  </url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>
    LoginServlet
  </servlet-name>
  <url-pattern>
    /LoginServlet
  </url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>
    LogoutServlet
  </servlet-name>
  <url-pattern>
    /LogoutServlet
  </url-pattern>
</servlet-mapping>
<welcome-file-list>
  <welcome-file>/html/login.html</welcome-file>
</welcome-file-list>

<error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/JSP/page_error.jsp</location>
</error-page>

<jsp-config>
 <jsp-property-group>
  <url-pattern>*.jsp</url-pattern>
  <include-prelude>/JSP/import.jsp</include-prelude>
</jsp-property-group>
</jsp-config>
</web-app>